{% extends "base.html" %}


{%- macro getField(field_name) -%}
    {{ request.form[field_name] }}
{%- endmacro -%}

{% block content %}
<h1 class=" mb-4 mt-2">
    {% block title %}
    Create Post
    {% endblock title %}
</h1>


<form method="post" id="create-form">
</form>

<input form="create-form" name="title" class="form-control mb-3" value="{{ getField('title') }}" placeholder="Title">
<input form="create-form" name="thumbnail_url" class="form-control mb-3" value="{{ getField('thumbnail_url') }}" placeholder="Thumbnail Url">
<p class="text-muted">You can add a thumbnail by going to an image host like imgur or ImgBB and getting the direct link to the image</p>

<textarea form="create-form" name="description" id="description" class="form-control mb-3"
    placeholder="Description">{{ getField('description') }}</textarea>

<textarea form="create-form" name="body" id="body" class="form-control mb-3"
    style="height: auto; min-height: 40rem">{{ getField('body') }}</textarea>

<div class="text-center">
    {% block buttons %}
    <input type="submit" form="create-form" class="btn btn-primary" value="Save">

    {% endblock buttons %}
</div>
{% endblock content %}