@use 'custom';
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Merriweather+Sans:wght@400;500&display=swap');


body,
html {
    min-height: 100%;
}

.content {
    padding-top: 5rem;
}

.content,
.fullscreen {
    min-height: 100vh;
}


.navbar-brand,
.display-1,
.nav-item,
.card-title,
.lead,
.btn,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bree Serif";
}

.btn {
    font-weight: bold;
}