<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Writtr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico')}}">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand page-title fs-3"  href="/">
                <img src="{{url_for('static', filename='writtr.svg')}}" width="40" height="40" alt="">
                Writtr
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if g.user %}
                    <li class="nav-item fs-5"><a class="nav-link active" href="{{ url_for('blog.create')}}">Create Post</a>
                    </li>
                    <li class="nav-item fs-5"><a class="nav-link active" href="{{ url_for('auth.logout')}}">Log out</a></li>
                    {% else %}
                    <li class="nav-item fs-5"><a class="nav-link active" href="{{ url_for('auth.register')}}">Register</a>
                    </li>
                    <li class="nav-item fs-5"><a class="nav-link active" href="{{ url_for('auth.login')}}">Log in</a></li>
                    {% endif %}
                </ul>
                {% if g.user %}
                <h1 class="navbar-brand">Currently logged in as {{ g.user['first_name'] }} {{ g.user['last_name']}} (<a
                        href="{{ url_for('blog.view_user', handle=g.user['user_name'] )}}">@{{
                        g.user['user_name']}}</a>)</h1>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="content container">


        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger text-center" role="alert">
            <h3>{{ message }}</h3>
        </div>
        {% endfor %}

        {% block content %}{% endblock %}
    </div>
    <footer>
        <!-- TODO actually make a footer -->
        <!-- This is more for padding then actually a footer -->
        <br>
        <br>
        <br>
    </footer>
</body>

</html>